*{
	margin: 0;
	padding: 0;
	color: #FFF;
	font-family:" Microsoft YaHei UI";
	}
.head{
	min-width:1200px;
	width: 100%;
	height:70px;
	margin: 0 auto;
	background: #000;
	line-height: 50px;
	position: fixed;
	top: 0;
	z-index: 3;
	overflow: hidden;
	}
.logo{
	width:300px;
	height:120px;
	position: relative;
	top: -30px;
	left:-30px;
}
.logo img{
	width:100%;
	height:100%;
}
	.nav{
	min-width:750px;
	list-style: none;
	float: right;
	color: #fff;
	position:relative;
	margin-right: 70px;
	}
.nav li{
	float: right;
	list-style: none;
	padding: 10px;
	}
nav a{
	text-decoration: none;
	padding: 20px;
	}
.nav a:hover {
	background-color: #f00;
	}
.logo{
	margin-left: 70px;
	float: left;
	margin-top:11px;
	}
.banner{
	width:100%;
	height: 850px;
	position: relative;
	left:40px;
	}
.banner img{
	position:absolute;
	top: 0 ;
	left:0;
	width:100%;
	height:100%;
	}
.banner form{
	text-align: center;
	padding-top: 100px;
	line-height: 40px;
	position: relative;
	z-index:2;
	}
.banner  input{
	border: 1px #fff solid;
	background:rgba(0,0,0,0);/*  文本框透明 */
	width: 600px;
	height: 40px;
	margin: 10px;
	padding: 5px;
	}
.banner input::-webkit-input-placeholder{
	color:#FFF;
	}
.banner textarea::-webkit-input-placeholder{
	color:#FFF;
	}
.banner  textarea{
	border: 1px #fff solid;
	background:rgba(0,0,0,0);
	width: 600px;
	height: 160px;
	margin: 10px;
	padding: 5px;
	}
.ABOUT{
	width: 100%;
	height: 650px;
	color: #000;
	position: relative;
	
	}
.ABOUT h1{
	font-size: 30px;
	border-bottom:2px solid #f00;
	position: relative;
	width: 120px;
	margin-left: -60px;
	height: 60px;
	top: 20px;
	left: 50%;
	color: #000;
	}
.ABOUT .na{
	width: 450px;
	height: 115px;
	position: relative;
	top :20px;
	left: 50%;
	margin-left: -225px;
	font-size:14px;
	text-align: center;
	color: #000;
	}
.ABOUT .na img{
	width: 600px;
	height: 400px;
}
.ABOUT .nb{
	width: 700px;
	height: 435px;
	position: relative;
	top :5px;
	left: 50%;
	margin-left: -350px;
	}
.ABOUT .nb .A70000{
	position: relative;
	width: 200px;
	height: 150px;
	top:-755px;
	left: 700px;
	border:1px #f00 solid;
	line-height: 65px;
	font-size: 25px;
	font-style: blod;
	text-align: center;
	}
.ABOUT .nb .A70000 .a7{
	border-bottom:2px solid #f00;
	font-size: 25px;
	font-style: blod;
	text-align: center;
	color:#000;
	padding-bottom:10px;
	}
.ABOUT .nb .A600{
	position: relative;
	width: 200px;
	height: 150px;
	top:-735px;
	left: 700px;
	border:1px #f00 solid;
	line-height: 75px;
	font-size: 25px;
	font-style: blod;
	text-align: center;
	}
.ABOUT .nb .A600 .a6{
	border-bottom:2px solid #f00;
	font-size: 25px;
	font-style: blod;
	text-align: center;
	color:#000;
	padding-bottom:10px;
	}
.ABOUT .nb .pbb{
	position: relative;
	width: 340px;
	height:200px;
	top:-400px;
	left: -280px;
	padding: 15px 10px;
	background-color:rgba(255,255,255,0.2);
	border:1px #f00 solid;
	}
.ABOUT .nb .pbb input{
	width: 100px;
	height: 40px;
	background: black;
	}
.ABOUT .nb .aab{
	color:#000;
	position: relative;
	width: 200px;
	height:85px;
	top:-400px;
	left: -230px;
	font-size: 25px;
	font-style: bold;
	}
.ABOUTun{
	min-width:1200px;
	width:100%;
	height:600px;
	background:#000;
	}
.ABOUTun img{
	width:100%;
	height:100%;
	}
.ABOUTun .ab{
	min-width:300px;
	}
.ABOUTun .AB1{
	width:25%;
	height:300px;
	background:#07CBC9;
	float:left;
	}
.ABOUTun .AB2{
	width:25%;
	height:300px;
	background:#07CBC9;
	float:left;
	position:relative
	}
.ABOUTun .AB2 .jiao{
	position:absolute;
	top:100px;
	left:0;
	}
.ABOUTun span{
	position:relative;
	top:40px;
	left:40px;
	}
.ABOUTun .AB3{
	width:25%;
	height:300px;
	background:#f00;
	float:left;
	}
.ABOUTun .AB4{
	width:25%;
	height:300px;
	background:#07CBC9;
	float:left;
	}
.ABOUTun .AB5{
	width:25%;
	height:300px;
	background:#07CBC9;
	float:left;
	}
.ABOUTun .AB6{
	width:25%;
	height:300px;
	background:#07CBC9;
	float:left;
	}
.ABOUTun .AB7{
	width:25%;
	height:300px;
	background:#07CBC9;
	float:left;
	}
.ABOUTun .AB8{
	width:25%;
	height:300px;
	background:#07CBC9;
	float:left;
	}
.GALLERY h1{
	border-bottom:2px solid #07CBC9;
	position: relative;
	width: 120px;
	margin-left: -60px;
	height: 60px;
	top: 20px;
	left: 50%;
	color: #000;
	font-size: 35px;
	}
.ghead h1{
	width:220px;
	font-size:30px;
	}
.GALLERY .NA{
	width: 450px;
	height: 115px;
	position: relative;
	top :20px;
	left: 50%;
	margin-left: -225px;
	font-size:14px;
	text-align: center;
	color:#000;
	}
.GALLERYun{
	min-width:1200px;
	margin:0 auto;
	width:70%;
	height:800px;
	}
.GALLERYun div{
	width:28%;
	height:340px;
	float:left;
	background:#000;
	margin:20px;
	}
.GALLERYun img{
	width:100%;
	height:280px;
	}
.GALLERYun p{
	text-indent:25px;
	}
.footer{
	width:100%;
	height:80px;
	background:#07CBC9;
	text-align: center;
	line-height:80px;
	}
#ds{
	width:300px;
	height:340px;
	position: fixed;
	bottom:0;
	right:0;
	}
#ds img{
	width:100%;
	height:100%;
	background:#f00;
	z-index: 5;
	}
#ds .exit{
	position: fixed;
	bottom:300px;
	right:0;
	width:40px;
	height:40px;
	}
.dsn img{
	display:none
	}